{% extends "tracker/includes/base.html" %}

{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <a class="mr-2" href="{% url 'profile' %}">{{ object.author }}</a>
      </div>
      <table class="table table-bordered table-striped">
        <tr>
          <td scope="row">Date:</td>
          <td>{{ object.date_ran|date:"d/m/Y" }}</td>
        </tr>
        <tr>
          <td scope="row">Distance:</td>
          <td>{{ object.distance }} {{ object.units }}</td>
        </tr>
        <tr>
          <td scope="row">Time:</td>
          <td>{{ object.time }} {{ objects.units}}</td>
        <tr>
          <td scope="row">Description:</td>
          <td>{{ object.description }}</td>
        </tr>
      </table>
      {% if object.author == user %}
        <div class="float-left">
          <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'users-run' %}">Return</a>
        </div>
        <div class="float-right">
          <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'run-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'run-delete' object.id %}">Delete</a>
        </div>
      {% endif %}
    </div>
  </article>
{% endblock content %}
