{% extends "tracker/includes/base.html" %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"d/m/Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'run-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'run-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <table>
        <tr>
          <td>{{ object.date_ran|date:"d/m/Y" }}</td>
          <td>{{ object.distance }}</td>
          <td>{{ object.time }} {{ objects.units}}</td>
          <td>{{ object.description }}</td>
        </tr>
      </table>
    </div>
  </article>
{% endblock content %}
